body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color:#f0f2f5;
    color: #333;
}
header{
    background-color: #a62039;
    color: white;
    padding:1rem;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:center;
    gap: 2rem;
    margin-top: 1rem;

}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration:underline;
}
main{
    padding: 2rem;
}
section{
    margin-bottom: 2rem;
}

.content-box{
    background-color: rgb(231, 255, 255);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.1);
}