*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url("Ashesi\ .jpg")no-repeat;
    background-size: cover;
    background-position: center;


}
.wrapper{
    width: 420px;
    background:transparent;
    border:2px solid rgba(225,225,225,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width :100%;
    height: 100%;
    background: rgb(201, 81, 81);
    border: none;
    outline:none;
    border:2px solid rgba(225,225,225,.2);
    border-radius: 40px;
    font-size: 16px;
    color:#000000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:azure;

}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.5px;
  margin: 10px 0 25px;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  color: #f9f9f9;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 42px;
    background: #fff;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(225,225,225,.1);
    cursor: pointer;
    font-size: 18px;
    color:#000000;
    font-weight: 600;
    
}

.wrapper.register-link{
    font-size:14.5px;
    text-align:end;

}
.register-link p a{
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    padding-left: 20px;

}
.register-link p a:hover {
    text-decoration:underline ;

}

.form-group {
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

}

select {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
