body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #eef2f5;
  color: #333;
}

header {
  background-color: #a62039;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.content-box {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
  margin: 0.5rem 0.5rem 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
    background-color: salmon;
}

